{% extends 'base.html' %}
{% load thumbnail %}

{% block title %} ExploreMe {% endblock %}
{% block body %}
    <div class="col-sm-6 offset-3 text-center mt-5">
        <h1 class="fw-bold">Welcome to ExploreMe!</h1>
        <p class="fst-italic fs-5 py-2">Discover the World through Personal Journeys</P>
        <p class="fst-italic fs-4 opacity-1 pt-3">ExploreMe is your personal canvas for documenting and sharing your travel adventures. Whether it's a remote mountain trek, a bustling city escape, or a tranquil beach getaway, this is where your stories come to life.</p>
        <a href="{% url 'feed:post' %}" class="btn btn-lg btn-success">Share Story</a>
    </div>
{% endblock %}