{% extends 'base.html' %} {% load thumbnail %} {% block title %} LaughLens {% endblock %} {% block body %}
<div class="row">
  {% for post in posts %}
  <div class="col-sm-6 col-md-3 h-100">
    <div class="card w-75 h-50 my-4 border border-dark rounded">
      {% thumbnail post.image "200x200" crop="center" as im %}
      <img src="{{ im.url }}" class="card-img-top border border-dark" alt="image" />
      {% endthumbnail %}
      <div class="card-body text-center bg-dark border border-dark rounded">
        <h5 class="card-title text-light">Card title</h5>
        <p class="card-text overflow-hidden text-light">{{ post.title }}</p>
        {% comment %} <p class="card-text">{{ post.description }}</p> {% endcomment %}
        <a href="{% url 'feed:detail' post.id %}" class="btn btn-light text-dark"
          >View full story</a
        >
      </div>
    </div>
  </div>
  {% empty %}
  <div class="col-sm-6 offset-3 text-center mt-5">
    <h1 class="fw-bold">Welcome to ExploreMe!</h1>
    <p class="fst-italic fs-5 py-2">
      Discover the World through Personal Journeys
    </p>
    <p class="fst-italic fs-4 opacity-1 pt-3">
      ExploreMe is your personal canvas for documenting and sharing your travel
      adventures. Whether it's a remote mountain trek, a bustling city escape,
      or a tranquil beach getaway, this is where your stories come to life.
    </p>
    <a href="{% url 'feed:post' %}" class="btn btn-lg btn-success"
      >Share Story</a
    >
  </div>
  {% endfor %}
</div>
{% endblock %}
